name: 删除运行记录
on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * 1'
jobs:
  delete-runs:
    runs-on: ubuntu-latest
    steps:
      - name: 删除运行记录
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          retain_days: 7  # 删除所有运行
          keep_minimum_runs: 5
